* {
	margin: 0;
	padding: 0;
}

#calculator {
	margin: 30px auto;
	width: 300px;
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
}

#display {
	background-color: #fff;
	line-height: 50px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	padding: 0 0.5rem;
	border-radius: 3px;
	overflow-x: scroll;
	/* overflow-y: none; */
	white-space: nowrap;
	scrollbar-width: none;
}

#calculator>#two-line-display {
	display: block;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: right;
	border-radius: 3px;
}

#formula-display {
	/* outline: blue solid; */
	height: 40px;
	line-height: 40px;
	padding: 0 6px;
	font-size: 20px;
	color: #555;
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
}

#input-display {
	line-height: 50px;
	height: 50px;
	padding: 0 6px;
	font-size: 24px;
	/* outline: blue solid; */
	overflow-x: scroll;
	white-space: nowrap;
	scrollbar-width: none;
	border-top: 0.5px solid grey;
}

#calculator>div {
	display: flex;
	justify-content: space-between;
	/* gap: 10px; */
}

button {
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

/* el.scrollLeft = el.scrollWidth - el.clientWidth; */